.header {
  &__root {
    background-color: rgb(255, 198, 6);
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 86px;
    position: fixed;
    width: 100%;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
    }

    .tabs {
      min-height: 100%;
    }

    .actions {
    }
  }
}
