@import "/src/styles/colors.scss";

.spacer {
  margin-bottom: 6.5rem;
}

.header {
  background-color: $color1;
  z-index: 1000;
  align-items: center;
  display: flex;
  height: 72px;
  justify-content: center;
  padding: 0 86px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;

  &__container {
    align-self: center;
    width: 1170px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;

    .logo {
      font-family: "Prosto One", cursive;
      font-size: 28px;
      cursor: pointer;
    }

    .tabs {
      min-height: 100%;
    }

    .actions {
      display: flex;

      &__signup {
        margin-right: 12px;
      }
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;

    .dropdown__content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1000;
    }

    &:hover .dropdown__content {
      display: block;
    }
  }
}

.filters-section {
  position: fixed;
  top: 6rem;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: fixed;
  z-index: 1100;
  left: auto;
  right: 0px;
  height: 6rem;
  box-shadow: none;
  color: black;
  background-color: transparent;
}
