.signin {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 100%;
  padding-right: 100%;
  padding: 0px 135px 60px 135px;
  box-sizing: border-box;

  &__content {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-self: stretch;
    height: 100%;
    justify-content: center;
    text-align: center;
  }

  &__form {
    height: 100%;
    width: 300px;
    text-align: center;
    align-self: center;
  }

  &__title {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .form-field {
    margin-bottom: 10px;
  }
}

.back-line {
  display: flex;
  flex: 0 0 50px;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  color: darkmagenta;

  .line {
    display: flex;
    flex-direction: row;

    .row {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .nav-text {
    font-size: 18px;
    font-weight: 500;
    padding-left: 6px;
  }
}
