.details {
  position: fixed;
  top: 4.5rem;
  padding-top: 60px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__body {
    width: 1170px;
    padding: 24px;
  }

  &__content {
    margin-bottom: 12px;

    & > * {
      font-weight: 380;
      margin-bottom: 16px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    &__header {
      display: flex;
      flex-direction: row;
      gap: 16px;
      margin-bottom: 8px;
    }

    &__title {
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      margin-bottom: 16px;
    }

    &__properties {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  &__attachments {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }
}

.paper {
  border: 1px solid #dfe2e4;
  border-radius: 8px;
  padding: 24px;
}
