.fake-select {
    display: flex;
    column-gap: 1rem;
    flex-grow: 1;

    &-input {
      background-color: #fff;
      border: 1px solid hsla(0, 0%, 73%, 0.867);
      border-radius: 8px;
      cursor: pointer;
      height: 2.5rem;
      padding: 16px 32px 16px 14px;
      position: relative;
      width: 100%;
      opacity: 1;
      pointer-events: auto;
      box-sizing: border-box;

      &__content {
        display: flex;
        align-items: center;
        height: 100%;
        color: black;

        &-text {
          margin: 0px;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.00938rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: calc(100% - 1.5rem);
          opacity: 1;
        }
      }

      &__icon {
        position: absolute;
        right: 6px;
        opacity: 1;
        user-select: none;
        width: 1rem;
        height: 1rem;
        display: inline-block;
        fill: currentColor;
        flex-shrink: 0;
        font-size: 1.5rem;
      }
    }
}