.about {
  margin: -12px 24px;
  padding: 34px;

  &__title {
    font-family: "Prosto One", cursive;
    mix-blend-mode: color-dodge;
    font-size: 5rem;
    text-align: center;
    margin: 0;
    padding: 2vh 200px 10vh 200px;
    color: lightsalmon;
  }

  &__quote {
    mix-blend-mode: color-dodge;
    color: lightsalmon;
  }

  &__header {
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 40px;
    position: relative;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/listography-690a0.appspot.com/o/assets%2Fimage_2023-03-14_15-51-51.png?alt=media&token=3adb9413-1d47-4320-a09d-7fb51cd66ae6");
    background-position: center -40px;
    background-size: cover;
  }
}
